* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  background-color: #F8F8FA;
  height: 100%;
}

.navigation {
  position: fixed;
  align-items: center;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #F8F8FA;
  z-index: 999;
  box-shadow: 0px 10px 10px -15px #111;
}

.navigation__logo {
  height: 10vh;
  padding: 0 70px;
}

.navigation__list {
  display: inline-block;

}

.navigation__item {
  list-style: none;
  padding: 30px;
  position: relative;
  display: inline-block;
}

.navigation__link {
  position: relative;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 18px;
  z-index: 2;
}



.header__flower {
  width: 100%;
  height: 80vh;
  background-image: url(../img/main-banner-1-1903x700.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  /* background-attachment: fixed; */
}

.header__title {
  font-family: 'Poppins', sans-serif;
  text-shadow: 4px 3px 0px rgba(232, 196, 186, 1);
  color: rosybrown;
  font-size: 45px;
  text-align: center;
  line-height: 80vh;
}


.navigation__drop-menu {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #F8F8FA;
  padding: 0 30px;
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

.navigation__drop-menu-item {
  list-style: none;
  padding: 10px 0;
}

.navigation__drop-menu-link {
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  color: rgb(17, 17, 17);
  font-size: 14px;
}

.navigation__item:hover .navigation__drop-menu {
  opacity: 1;
  visibility: visible;
  color: #d58780;
}

.navigation__link:hover {
  color: #d58780;
}

.navigation__drop-menu-link:hover {
  color: #d58780;
}

/* ------------------------------------------------------------------- */

.about-us__photo-about-us {
  margin-top: 50px;
}

.photo-about-us {
  display: flex;
  align-items: center;
  justify-content: center
}

.photo-about-us__container {
  width: 400px;
  height: 400px;
  overflow: hidden;
  margin: 0 15px;
  position: relative;
}

.photo-about-us__img {
  width: 100%;
}

.photo-about-us__container::after {
  content: "";
  width: 94%;
  height: 94%;
  background: -webkit-linear-gradient(top, rgba(83, 100, 141, 0) 0%, rgba(218, 64, 60, 0.25) 65%);
  background: linear-gradient(to bottom, rgba(83, 100, 141, 0) 0%, rgba(218, 64, 60, 0.25) 65%);
  position: absolute;
  top: 3%;
  left: 3%;
  opacity: 0;
  transform: scaleX(0);
  transform-origin: right center 0;
  transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0s, visibility 0.6s ease 0s, opacity 0.35s ease 0s;
}


.photo-about-us__container:hover.photo-about-us__container::after {
  opacity: 1;
  transform: scaleX(1);
  transform-origin: left center 0;
  transition: transform 0.5s cubic-bezier(1, 0, 0, 1) 0s;
}

.photo-about-us__title {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Dancing Script', cursive;
  text-align: center;
  font-size: 30px;
  color: black;
}


.title {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.title__text {
  display: inline-block;
  padding-top: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 50px;
}

.hover-line {
  width: 50px;
  height: 3px;
  background-color: #d58780;
  margin: 10px auto;
  transition: 0.3s;
  border-radius: 20px
}

.title__text:hover+.hover-line {
  width: 150px;
}


.about-us__content {
  max-width: 80%;
  margin: 0 auto;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: #555
}

.about-us__text {
  padding: 5px 0;
}

/* --------------------------------------------------------- */

.wraper-for-products {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.wraper-for-products__container {
  width: 20%;
  height: 40vh;
  margin: 30px 20px;
  overflow: hidden;
}


.wraper-for-products__img {
  width: 100%;
  transition: .5s;

}

.wraper-for-products__img:hover {
  transform: scale(1.2)
}


/* ------------------------------------------------------------- */


.reviews {
  max-width: 80%;
  margin: 0 auto;

}


.reviews__container {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #555;
  visibility: hidden;
  height: 0;

}

.reviews__container--visible {
  visibility: visible;
  height: auto;
}

.reviews__arrow {
  display: flex;
  justify-content: center;
  padding: 20px 0;
  font-size: 30px;
  color: #999;

}

.reviews__text {
  padding-bottom: 30px;
}

.reviews__client {
  color: #d58780;
  padding: 10px 30px;
  border-top: 1px solid #d58780;
  padding-bottom: 30px;
}


/* ---------------------------------------------------------------------- */

.page__footer {
  margin-top: 30px;
}

.footer__wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer__title {
  position: relative;
  font-family: 'Poppins', sans-serif;
  padding-bottom: 5px;
  margin-bottom: 20px;
  font-size: 18px;
}

.footer__title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 20px;
  height: 2px;
  background-color: #d58780;
  transition: .5s;
}

.footer__title:hover.footer__title::after {
  width: 70px;
}


.footer__text {
  color: #555;
  display: block;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-bottom: 10px;
}

.footer__icon {
  color: #d58780;
  padding-right: 10px;
}

.developed {
  margin-top: 20px;
  width: 100%;
  background-color: rgb(173, 173, 173);
  font-family: 'Poppins', sans-serif;
  text-align: center;
  color: white;
  padding: 5px 0;
  font-size: 12px;
}

.developed__link {
  color: #000;
  text-decoration: none;
}

/* font-family: 'Poppins', sans-serif;
font-family: 'Dancing Script', cursive; */
